body {
  font-family: 'Inter', sans-serif;
  overscroll-behavior-y: contain;
}

/* Custom CSS for hiding scrollbars on specific elements */
.hide-scrollbar {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* Keyframe animation for a fade-in-out effect */
@keyframes fade-in-out {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.animate-fade-in-out {
  animation: fade-in-out 2s ease-in-out forwards;
}

/* Keyframe animation for a spinning loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* Ensure input type="date" matches other inputs' style and hides default icon */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 0;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

input[type="date"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
}
